<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>E-Commerce</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/8539/8539121.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='ecom-index.css') }}">
  </head>
  <body>
    <div class="topnav">
      <a href="/index">Home</a>
      <a href="/category">Products</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <h1>Freshness You Can Taste, Convenience You Can Trust!</h1> 
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
  </body>
</html>